body {
    
    background-image: url("fotos/background4.jpg");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .info {
      color:orange;
      position: absolute;
      top:250px;
  }
  .botones {
      position: absolute;
      top:300px;
      right:30px;
  }
  .login1 {
      width:50%;
      float: left;
  }
  .login2 {
    margin:30px;
    width:20%;
    float: right;
}
.icono {
    width:30%;
    float: left;
}
.letras {
 
  width:70%;
  float: right;
}
.prueba {
    background-image: url("fotos/background21.jpg");
}